/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-satar-green : #0A7143;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

 /* Universal tags */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-grey);
  padding: 8px 24px;
}

.navbar__logo {
  font-size: var(--font-medium);
}

.navbar__logo i {
  color: var(--color-satar-green);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--color-satar-green);
  border-radius: 4px;
}

/* Icons */
.navbar__icons {
  list-style: none;
  color: var(--color-white);
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}
